.MyHeader {
    background-color: rgb(0,0,0);
    padding: 20px;
    width: 100vw; /* Cambiado de 100% a 100vw */
    margin-bottom: auto;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: auto;
    margin-top: 1%;
    overflow: hidden;
}

.header-section {
    max-width: 100%;
}


.header-section img {
    margin: 1px; 
    margin-top: 0px;
    animation: flotar 2s ease infinite;
}

@keyframes flotar {
0%, 100% {
    transform: translateY(0);
}
50% {
    transform: translateY(9px);
    -webkit-transform: translateY(9px);
    -moz-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
}
}
